db.createUser({user: "dev", pwd: "{{ mongo_user_password }}", roles : [{"role" : "userAdminAnyDatabase","db" : "admin"},{"role" : "readWriteAnyDatabase","db" : "admin"},{"role" : "dbAdminAnyDatabase","db" : "admin"},{"role" : "clusterAdmin","db" : "admin"},{"role" : "clusterMonitor","db" : "admin"}]});